<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
    <link rel="stylesheet" href="~/assets/client/css/header.less">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
        <div class="header-top">
            <div class="title">
                <h3>Welcome to Symphony Limited</h3>
            </div>
        </div>
        <div class="header-middle">
            <div class="logo">
                <img class="image" src="~/assets/client/images/Logo.png" />
            </div>
        </div>
        <div class="header-bottom">
            <input type="checkbox" id="check">
            <nav>
                <ol>
                    <li class="item"><a href="#">Home</a></li>
                    <li class="item"><a href="#">About Us</a></li>
                    <li class="item"><a href="#">Course</a></li>
                    <li class="item"><a href="#">Entrance Examination</a></li>
                    <li class="item"><a href="#">FAQ’s</a></li>
                    <li class="item"><a href="#">Contact Us</a></li>
                </ol>
                <div class="search_box">
                    <input type="search" placeholder="Search here">
                    <span class="fa fa-search"></span>
                </div>
                <label for="check" class="bar">
                    <span class="fa fa-bars" id="bars"></span>
                    <span class="fa fa-times" id="times"></span>
                </label>
            </nav>
            </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/less")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
